# Python file
*.pyc
__pycache__/
*.egg-info
dist/

# IDE
*.swp
.idea/
*.user
*.suo
*.db
*.opendb
*.db-shm
*.db-wal

# Tests/Coverage
.coverage
.pytest_cache/

# Docs
_static
_build

# Misc
#*.cmake
CMakeLists.txt
