# Python file
*.pyc
__pycache__/
*.egg-info
dist/

# IDE
*.swp
.idea/
*.user
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.log
*.tlog

# Build
build/
*.obj
*.lib
*.idb
*.pdb
*.u2d
BuildLog.htm

# Tests/Coverage
.coverage
.pytest_cache/

# Docs
_static
_build

# Misc
#*.cmake
CMakeLists.txt
Utils.cmake
